
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    font-family: "Segoe UI", sans-serif;
    color: #fff;
}

/* NAVIGATION BAR */
header{
    background: #111;
    padding: 15px 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

nav a:hover{
    background: #333;
    border-radius: 6px;
}

/* HOME */
#Homediv{
    display: flex;
    padding: 70px 40px;
    justify-content: space-between;
    align-items: center;
}

#textabout{
    width: 55%;
}

.textcolor, .highlight{
    color: #05cd27;
}

#year{
    font-size: 28px;
}

.intro-text{
    margin-top: 20px;
    font-size: 18px;
    opacity: 0.9;
    line-height: 1.5;
}

#AvatarBox{
    width: 40%;
    display: flex;
    justify-content: center;
}

#AvatarImg{
    width: 280px;
    border-radius: 12px;
}

/* HOBBIES */
#Aboutdiv{
    background: #2e2e2e;
    padding: 40px;
}

.section-heading{
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    color: #05cd27;
}

.about-extra{
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    opacity: 0.9;
}

#hobblist li{
    background: #3a3a3a;
    margin: 12px 0;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hobblist li:hover{
    background: #505050;
}

.hobimg{
    width: 70px;
    height: 70px;
    border-radius: 12px;
}


#skillsdiv{
    background: #3A3A3A;
    padding: 30px;
    margin-top: 25px;
    border-radius: 12px;
}

#skillsdiv h2{
    font-size: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 10px;
}

.skills-info{
    margin-top: 18px;
    margin-bottom: 10px;
    opacity: 0.9;
}

#skillsdiv ul{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
    list-style: none;
}

#skillsdiv li{
    background: #505050;
    padding: 8px 15px;
    border-radius: 999px;
}

/* PROJECTS */
#projects{
    background: #2D2D2D;
    margin-top: 30px;
    padding: 35px;
    border-radius: 12px;
}

#projects h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.project-intro{
    text-align: center;
    margin-bottom: 25px;
    opacity: 0.9;
}

.project-card{
    background: #3A3A3A;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

.project-card h3{
    color: #FFD95A;
}


#contactdiv{
    background: #1c1c1c;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
}

.conlink{
    color: white;
    text-decoration: none;
}

.contact-line{
    margin-top: 10px;
    opacity: 0.9;
}

.foot{
    margin-top: 20px;
    font-weight: 400;
    color: #ccc;
}
